<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1075987006382-ggdf6o9mfnoksc3295vleqokocqgq72r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075987006382-ggdf6o9mfnoksc3295vleqokocqgq72r</string>
	<key>API_KEY</key>
	<string>AIzaSyBugflzrJ0I5o8Y8Lm3Lmjgh4HlW5DZVP8</string>
	<key>GCM_SENDER_ID</key>
	<string>1075987006382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.carenet.CarenetSDKTest</string>
	<key>PROJECT_ID</key>
	<string>crnt-playground</string>
	<key>STORAGE_BUCKET</key>
	<string>crnt-playground.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075987006382:ios:028d7042d90566e3</string>
	<key>DATABASE_URL</key>
	<string>https://crnt-playground.firebaseio.com</string>
</dict>
</plist>